body {
   background-color: rgb(88, 141, 194);
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}
.contact-form {
   box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
   margin: 50px auto;
   width: 350px;
   text-align: center;
}
.contact-form h2 {
   background-color: #efefef;
   margin: 0;
   padding: 10px;
}
.error{
   background: rgba(134, 21, 21, 0.9);
   color: #fff
}
.contact-form input {
   display: block;
   width: 90%;
   margin: 10px auto;
   padding: 10px;
   text-align: center;
}
.contact-form textarea {
   width: 90%;
   margin: 5px auto;
   padding-left: 10px;
   height: 80px;
   text-align: center;
}
.submit-btn {
   cursor: pointer;
   width: 150px !important;
   margin: 10px !important;
   border-radius: 5px;
}